# ========================
# Composer
# ========================
/vendor/
/composer.lock

# ========================
# Sistema
# ========================
.DS_Store
Thumbs.db
*.log

# ========================
# IDEs / Editores
# ========================
.vscode/
.idea/
*.swp
*.swo

# ========================
# SO / Ambiente
# ========================
.env
